* {
    font-family: Arial, Helvetica, sans-serif;
    color: #B2CED5;
}

body {
    background-image: url(images/wddbg1.png);
    background-repeat: no-repeat;
    width: 1400px;
    height: 350px;
    background-color: #373C62;
}