* {
    font-family: Arial, Helvetica, sans-serif;
    color: #B2CED5;
}

.banner {
    height: 250px;
    background-image: url(images/wddbg3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 40px;
}

body {
    border: none;
    background-color: #373C62;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 50px;
    border-bottom: 3px solid plum;
}

img {
    max-width: 100%;
    margin-top: 20px;
    border: 1px solid plum;
}

.image {
    flex-basis: 200%;
}

.text {
    font-size: 20px;
    padding-left: 10px;
}

h2 {
    margin-top: 50px;
    margin-left: 25px;
}

p {
    margin-left: 25px;
} 

h4 {
    margin-left: 25px;
}

ul {
    margin-left: 25px;
    padding-bottom: 50px;
    border-bottom: 3px solid plum;
}

.content-box {
    margin-top: 25px;
    margin-left: 400px;
    margin-right: 350px;
}

footer {
    font-size: 14px;
    font-style: italic;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: auto;
}